.admins-page {
    text-align: center;
    padding: 20px;
}

.admins-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.admin-card {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.admin-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-button, .delete-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.edit-button {
    background-color: #6c757d;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}